body{
	margin: 0;
}
#container{
	width: 100%;
	/*max-width: 1260px;*/
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#container *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#container #topo{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#container #topo img{
	width: 100%;
}
#container #titulo{
	max-width: 715px;
	padding: 0 10px;
	margin: 0 auto 100px;
}
#container #titulo h1{
	font: 80px/80px 'Gill Sans', Arial, tahoma;
	color: #111211;
	text-align: center;
	margin: 100px 0 20px;
}
#container #titulo p{
	font: 20px/25px 'Gill Sans', Arial, tahoma;
	color: #58585A;
	text-align: center;
}
#container .cont{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#container .cont h2{
	margin: 0;
	font: bold 28px/28px 'Gill Sans', Arial, tahoma;
	color: #007AC0;
	text-transform: uppercase;
	text-align: center;
}
#container .cont h2.tit_maior{
	padding: 0 20px 20px;
	background: transparent url(../imgs/barra-tit-maior.png) center bottom no-repeat;
	background-size: contain;
	width: auto;
	display: table;
	margin: 0 auto 10px;
}
#container .cont h2.tit_menor{
	padding: 0 20px 20px;
	background: transparent url(../imgs/barra-tit-menor.png) center bottom no-repeat;
	background-size: contain;
	width: auto;
	display: table;
	margin: 0 auto 10px;
}
#container .cont p.explicacao{
	max-width: 555px;
	padding: 0 10px;
	font: 18px/22px 'Gill Sans', Arial, tahoma;
	color: #58585A;
	text-align: center; 
	margin: 0 auto;
}
#container #video{
	margin-top: 80px;
}
#container .cont #graficos{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#container .cont .grafico{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 120px;
}
#container .cont .grafico .graf{
	height: 300px;
	background-color: #D9DADB;
}
#container .cont .grafico .graf .chart{
	max-width: 1260px;
	margin: 0 auto;
}
#container .cont .tooltip{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(145, 145, 145, 0.5);
	-moz-box-shadow:    0px 0px 20px 0px rgba(145, 145, 145, 0.5);
	box-shadow:         0px 0px 20px 0px rgba(145, 145, 145, 0.5);
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 40px;
	width: 200px;
	height: 200px;
}